header, footer {
background-color:rgb(187, 219, 230) ;
color: darksalmon;
text-align: center;
}

.content_wrapper {
    margin: 1rem;
}

.main_header {
    font-family: 'Heebo', sans-serif;
    background-color: rgb(187, 219, 230);
    color:darksalmon;
    padding: 0.8rem 0rem 0.5rem 1rem;
}

.main_header p {
    font-size: 1.33rem;
    font-weight: bold;
    margin-top: -1rem;
    margin-bottom: 0;
}

.main_header nav {
    margin-left: -1rem;
}

.main_header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main_header nav li {
    display: inline-block;
}

.main_header nav a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0.8rem;
}

div.button {
    background-color:coral;
    width: 10;
}