@font-face {
    font-family: 'source_sans_proregular';
    src: url('../assets/sourcesanspro-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'velocity_demo';
    src: url('../assets/velocity_demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "source_sans_proregular";
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "velocity_demo";
    font-size: 4rem;
    padding: 1rem 2rem;
    border: 1px solid lightblue;
    border-radius: 100px;
}

.content_wrapper {
    font-size: 1.1rem;
}

section.centrada {
  width: 83.8%;
  margin-left: auto;
  margin-right: auto;
}

section.centrada p {
    border: 1px solid;
    padding: 1em;
} 

.espacios {
    margin: 2rem 1rem;
    background-color: coral;
    padding-bottom: 2.5%;
}

.espacios h2 {
    padding: 1rem;
    margin: 0;
}

.espacios p {
    padding: 1rem;
    background-color: beige; 
    margin-left: 2.5%; 
    margin-right: 2.5%;
}

.flex {
    margin: 2rem 1rem;
    background-color: coral;
    padding-bottom: 3%;
}

.flex h2 {
    padding: 1rem;
    margin: 0;
}

.flex p {
    padding: 1rem;
    background-color: beige;
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (min-width:690px) {

.espacios::after { 
    content: '';
    display: block;
    clear: both;
}  

.espacios p {
    width: 30%;
    float: left;
}

.espacios p:not(:last-of-type){
    margin-right: 0%;
}

.flex .flex-wrapper {
    display: flex;
}

.flex h2 {
    text-shadow: 2px 2px 2px  rgb(174, 202, 193);
}

.flex p {
    box-shadow: 2px 2px 2px 2px rgb(102, 205, 171);
}

.flex p:not(:last-of-type) {
    margin-right: 0%;
}

}