@font-face {
    font-family: 'source_sans_proregular';
    src: url('../assets/sourcesanspro-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'velocity_demo';
    src: url('../assets/velocity_demo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "source_sans_proregular";
}

h1 {
    font-family: "velocity_demo";
}

.content_wrapper {
    font-size: 1.1rem;
}

section.centrada {
  width: 83.8%;
  margin-left: auto;
  margin-right: auto;
}

p {
    border: 1px solid;
    padding: 1em;
} 