:root {
    --color-letra: darkseagreen;
    --color-fondo: bisque;
    --font-main: 'Raleway', sans-serif;
    --font-title: 'Heebo', sans-serif;
    --size-title: calc( var(--size-small) * 3);
    --size-subtitle:calc( var(--size-small) * 2);
    --size-title-section: 1.2rem;
    --size-base: calc(14rem/16); 
    --size-small: calc(12rem/16); 
    --margin-vertical: 1.5rem;
    --margin-lateral: 2rem;
    --margin-parrafo: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    font-family: var(--font-main);
    line-height: 1;
    font-size: var(--size-base);
}

/*************** Header ***************/
.header {
    background-color: var(--color-fondo) ;
    color: var(--color-letra);
    font-family: var(--font-title);
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 5rem;
    text-align: center;
}

.header h1 {
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-size: var(--size-title);
}

.header p {
    font-size: var(--size-subtitle);
}

/*************** Footer ****************/

.footer {
    background-color: var(--color-fondo);
    color: var(--color-letra);
    font-size: var(--size-small);
    margin-bottom: 1rem;;
    margin-top: 1rem;
    text-align: center;
    margin-top: 1rem;
    padding: 2rem;
}

.footer address {
    font-style: normal;
}

.footer a {
    color: inherit;
}

.footer p {
    font-size: var(--size-main);
}

/**************** Main *****************/

main {
    margin: var(--margin-vertical) var(--margin-lateral);
}

main h2 {
    font-size: var(--size-title-section);
    margin-bottom: calc( var(--margin-vertical)/2);
    margin-top: calc( var(--margin-vertical)/2);
}

main p {
    margin-bottom: var(--margin-parrafo);
    margin-top: var(--margin-parrafo);
}

/**************** Estilos de las section del main *****************/

section {
    width: 49%;   /* se refiero al elemento, contexto */
    display: inline-block;
    vertical-align: baseline;
    padding: 1rem;  
}