section {
    min-height: 60vh;
}

button {
    margin: 2rem;
}

div {
    width: 100px;
    height: 100px;
    border: 1px solid;
    border-radius: 50px;
}

button:hover+div {
    animation-name: colores, rotacion, desplazamiento;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
}

@keyframes colores {
    0% {
        background-color: bisque;
    }
    20% {
        background-color:burlywood;
        width: 6rem;
    }
    40% {
        background-color: chocolate;
        width: 9rem;
    }
    60% {
        background-color: darkred;
        width: 11rem;
    }
    80% {
        background-color: brown;
        width: 13rem;
    }
    100% {
        background-color: tomato;
        width: 15rem;
    }
}

@keyframes rotacion {
    0% {
        transform: rotate();
    }
    20% {
        transform: rotate(30);
    }
    40% {
        transform: rotate(60);
    }
    60% {
        transform: rotate(90);
    }
    80% {
        transform: rotate(120);
    }
    100% {
        transform: rotate(160);
    }
} 

@keyframes desplazamiento {
    0% {
        transform: translate();
    }
    20% {
        transform: translate(30);
    }
    40% {
        transform: translate(60);
    }
    60% {
        transform: translate(90);
    }
    80% {
        transform: translate(120);
    }
    100% {
        transform: translate(160);
    }
}