body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.content_wrapper {
 margin: 1rem;
}

/* h1 {
    font-size: 3rem;
    font-weight: normal;
    SOLO AFECTA A H1
} */

/* pre {
    font-family: inherit;
    PARA CAMBIARLE EL FORMATO (LETRA) A PRE.
    SI QUIERO QUE SOLO SEA UN PRE, CREO UNA CLASE.
} */

.main_header {
    font-family: 'Heebo', sans-serif;
    background-color: rgb(156, 141, 121);
    color: rgb(196, 78, 78);
    padding: 0.8rem 0rem 0.5rem 1rem;
}

.main_header p {
font-size: 1.33rem;
font-weight: bold;
margin-top: -1rem;
margin-bottom: 0;
}

.main_header nav {
margin-left: -1rem;
}

.main_header nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

.main_header nav li {
display: inline-block;
}

.main_header nav a {
color: inherit;
text-decoration: none;
display: block;
padding: 0.8rem;
}

.main_footer {
    background-color: rgb(156, 141, 121);
    color: rgb(196, 78, 78);
    text-align: center;
    padding: 1rem;
}

.image_wrapper {
    margin: 0;
    text-align: center;
}

img {
     max-width: 100%; 
    /* width: 100%;  pixelea
    display: inline-block;*/
}

.seccion_imagenes img {
    max-width: 25%;
    /* para unir imágenes a través de css (en linea) 
    margin-left: 3px;
    para unirse uno debajo de otro (bloque)*/
    float: left;
    display: block;
    /* medida del ancho 
    height: 20vh;*/
    background-color: bisque;
}

.image_wrapper_50 {
    width: 50%;
}

.image_wrapper_25 {
    width: 25%;
}

.image_wrapper_75 {
    width: 75%;
}

blockquote {

    /* 
    - el espacio de arriba y abajo
    margin-block-start: 0em;
    margin-block-end: 0em;

    - la propiedad es la misma que las de abajo que están funcionando 
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
/* -margen a la derecha e izquierda */
margin-left: 0;
margin-right: 0;
/* font-style: italic;   */
/* italic es para cursiva */
}

blockquote footer {
    /* esta etiqueta (WIDTH) limita la raya al ancho del elemento */
    width: fit-content;
    margin-top: 0.5rem;
    padding-top: 0.3rem;
    border-top: 1px solid gray;
}

ul {
    list-style-type: circle;
}

ol {
    /* NONE PARA QUITARLE LOS NÚMEROS DELANTE DE LA LISTA 
       DISC PARA PONER LOS PUNTITOS DELANTE DE LA LISTA   */
    list-style-type: disc;
}

/* PARA TENERLO ORDENADA EN LA MISMA LÍNEA */
.dt {
float: left;
clear: left;
}

.dd {
float: left;
clear: right;
}

.clearfix {
    clear: both;
}

.iframe_footer {
    width: 100%;
    border: none;
}

footer a {
    color: rgb(196, 78, 78)
}

/* los párrafos que están dentro de footer */
.main_footer p {
    margin-bottom: 0;
} 

.main_footer aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
.main_footer aside li {
    display: inline-block;
    }
    
.main_footer aside a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0.8rem 0.2rem;
    }

.verde {
    color: rgb(5, 126, 5);
    /* font-weight: ; */
    text-decoration: underline;
    text-decoration: line-through;

}

/* PARA QUITARLE LA NEGRITA */
strong {
    font-weight: normal;
}

/* PARA QUITARLE EL LIGERO SUBRAYADO */
abbr {
    text-decoration: none;
}

.web_externa_bts {
    width: 100%;
    height: 50vh;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

video {
    max-width: 100%;
}

.palabra_rota {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

embed {
    max-width: 100%;
}

.main_inicio_footer {
    text-align: right;
    color: coral;
    font-size: 1.1rem;
}

.sin-borde {
    border: 0;
}

.main_table {
    width: 100%;
}

.main_table>tbody>tr>th {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

/* even u odd */ /*Filas pares*/
.main_table>tbody>tr:nth-of-type(even) {
    background-color: beige;
}

/*Filas impares*/
.main_table>tbody>tr:nth-of-type(odd) {
    background-color:darkseagreen;
}