/*********************************************************************************************
                        ESTILOS DE HEADER
***********************************************************************************************/
body>header {
    background-color: rgb(179, 81, 81);
    color: burlywood;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-left: 5rem;
    text-align: center;
}

body>header h1 {
    margin-bottom: 2;
    margin-top: 2;
}

body>header p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.3rem;
    font-weight: bold;
}

/**********************************************************************************************
               ESTILOS DE LA section.combinadores
************************************************************************************************/

/* Selectores combinados ()antes selectores contextuales*/

/* Selectores de descendientes (descendent)- símbolo el espacio*/
section.combinadores p {
    background-color: rgb(184, 73, 95);
}

/* Selectores de hijos (child)- símbolo es el > */
section.combinadores>p {
    background-color:rgb(197, 116, 58);
}

/* Selector de hermanos (sibilings)- el símbolo es la ~ */
section.combinadores div~p {
    background-color: rgb(24, 100, 24);
}

/* Selector de hermanos adyacentes (adyacent sibilings)- el símbolo es el + */
section.combinadores div+p {
    background-color: lightblue;
}

/***********************************************************************************************
              ESTILOS DE LA SECCIÓN ATRIBUTOS
*************************************************************************************************/

/* Selector de atributo- símbolo los [] */
.atributos p[title] {
    color: lightsalmon;
}
.atributos /* Atributo igual a  */
[title="Extra"] {
    color: lightskyblue; 
}
/* !important : es muy importante para ponerlo en cualquier circunstancias, va dentro del valor dentro del punto y coma ";" */

.atributos /* Atributo empieza por  */
[title^="Párrafo"] {
    color: mediumpurple;
}
.atributos /* Atributo contiene  */
[title*="rrafo"] {
    color: rgb(110, 88, 155);
}
.atributos /* Atributo termina por */
[title$="1"] {
    color: tomato;
}

/************************************************************************************************
    ESTILOS DE LAS SECCIONES .PSEUDO-ELEMENTOS, .NUMERADOS y .COMILLAS
**************************************************************************************************/

.pseudo-elementos p::first-letter {
    font-size: 3rem;
    font-family: fantasy;
    color: cadetblue;
}

.pseudo-elementos p::first-line {
    font-style: italic;
    font-weight: bold;
}

.pseudo-elementos .medio {
    color: brown;
}

.pseudo-elementos .medio-pro::before, 
.pseudo-elementos .medio-pro::after {
    content: url(../../favicon.ico) url(../../favicon.ico) "Fantástico" url(../../favicon.ico) url(../../favicon.ico);
    display: block;
    background-color: rgb(250, 168, 138);
    width: 100%;
    color: rgb(230, 230, 159);
    padding: 1rem;
    margin-top: 0.8rem;
    text-align: center;
}

.banda {
    background-color: rgb(250, 168, 138);
    padding: 1rem;
    margin-top: 0.8rem;
}

body {
    counter-reset: parrafos;
}

.numerados p::before {
    counter-increment:parrafos; 
    content: counter(parrafos) " - ";
    font-weight: bold;
}

.comillas {
    /* quotes: '\00AB' '\00BB'; */
    quotes: "«" "»";
}

.comillas p::before {
    content: open-quote;
}

.comillas p::after {
    content: close-quote;
}

/***********************************************************************************************
            ESTILOS DE LAS SECCIONES .PSEUDO-CLASES
*************************************************************************************************/
.pseudo-clases header {
    background-color: bisque;
}

.pseudo-clases header p {
    display: none;
}

.pseudo-clases header:hover p {
    display: inherit;
}
   
/************************************************************************************************
                     ESTILOS DE FOOTER
**************************************************************************************************/
body>footer {
    background-color: rgb(160, 70, 70);
    color: burlywood;
    margin-bottom: 1rem;;
    margin-top: 1rem;
    text-align: center;
    margin-top: 1rem;
}

body>footer address {
    font-style: normal;
}

body>footer p {
    margin-top: 0;
    margin-bottom: 0;
}