/*************************** BODY *************************/
body {
    margin: 0;
    background-color: whitesmoke;
}

.content_wrapper {
    margin: 1rem;
}

p {
    font-size: 1.1rem; 
}

/*************************** H *************************/

h1.centrar {
    color: cadetblue;
    text-align: center;
    font-size: 4rem;
}

h1 {
    color: darkcyan;
    font-size: 3rem;
}

h2 {
    color: darkolivegreen;
    font-size: 2rem;
}

h3 {
    color: goldenrod;
    font-size: 1.5rem;
}

/************************* MENÚ ****************************/

.color_header {
    background-color: rgb(198, 226, 235); 
}

header{
    margin: 0;
}

.menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu a {
    display: block;
    padding: 2em;
    background-color: rgb(198, 226, 235);
    text-decoration: none;
    color: #191C26;
}
.menu a:hover {
    background-color: rgb(245, 189, 170);
}
/************************* IMG Y VIDEOS ****************************/

.image_wrapper_right {
    width: 50%;
    float: right;
    display: inline;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.image_wrapper_right_comida {
    width: 40%;
    float: right;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


img {
    max-width: 100%;
}

.center {
    width: 50%;
}

video {
    width: 40%;
    float: right;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

/************************* IMG GRID ****************************/

.grid {
    display: grid;
}

/************************* UL ****************************/

ul {
    list-style: inside square;
}

/************************* BUTTON ****************************/

.button {
    text-align: right;
    font-size: 1rem;
    background-color: whitesmoke;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/*************************** TABLAS *************************/

.clima_table, 
.demografia {
    width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
}
.empresas {
    width: 70%;
    text-align: center;
    align-content: center;
    align-items: center;
}

.clima_table>tbody>tr>th, 
.demografia>tbody>tr>th,
.empresas>tbody>tr>th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.clima_table>tbody>tr:nth-of-type(1)>td, 
.demografia>tbody>tr:nth-of-type(1)>td
.empresas>tbody>tr:nth-of-type(1)>td {
    background-color: rgb(183, 240, 183);
}

/*************************** FORMULARIO *************************/
.placeholder {
    color: rgb(172, 69, 69); 
    background-color:antiquewhite;
    font-family: 'Courier New', Courier, monospace;  
}

.formulario_control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  rgb(15, 15, 24);
    opacity: 1; /* Firefox*/
} 
  
.formulario_control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(15, 15, 24); 
}
    
.formulario_control::-ms-input-placeholder { /* Microsoft Edge  */
    color: rgb(15, 15, 24);
}  

.formulario_label {
    display: block;
    margin-top: 1rem;
}

fieldset {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: rgb(245, 212, 153);
    width: 40%;
}

fieldset input, textarea {
    width: 60%;
}

section.formulario button {
    margin-bottom: 2rem;
}

/*************************** IFRAME *************************/

.embed-container {
    position: relative;
    padding-bottom: 40.50%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 50%;
}

/*************************** FOOTER *************************/

footer {
    font-family: 'Heebo', sans-serif;
    background-color: rgb(187, 219, 230);
    color:darksalmon;
    padding: 0.8rem 0rem 0.5rem 1rem;
    text-align: center;
    align-items: center;
    margin: 0;
}

footer p {
    margin-bottom: 0;
} 

footer aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
    
footer aside li {
    display: inline-block;
}
    
footer aside a {
    color: inherit;
    text-decoration: none;
    display: block;
    padding: 0.8rem 0.2rem;
}