/*************************** BODY *************************/
body {
    margin: 0;
}

.content_wrapper {
    margin: 1rem;
}

/*************************** HEADER *************************/
/************************* MENÚ ****************************/

.color_header {
    background-color: rgb(198, 226, 235); 
}

header{
    margin: 0;
}

.menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu a {
    display: block;
    padding: 2em;
    background-color: rgb(198, 226, 235);
    text-decoration: none;
    color: #191C26;
}
.menu a:hover {
    background-color: rgb(245, 189, 170);
}
/************************* IMG Y VIDEOS ****************************/

.img_header,
.kpop,
.gastronomia,
.demografia {
    width: 35%;
    height: 20rem;;
    float: right;
    padding-left: 4rem;
    padding-bottom: 0.8rem;
}

.center {
    width: 50%;
}

video {
    max-width: 38%;
    float: right;
}

/************************* IMG GRID ****************************/

.grid {
    display: grid;
}

/************************* BUTTON ****************************/

.button {
    text-align: right;
    font-size: 1rem;
    background-color: white;
    width: 5%;
    align-content: center;
    align-items: center;
}

/*************************** TABLAS *************************/

.clima_table, 
.demografia {
    width: 100%;
    text-align: center;
    align-content: center;
    align-items: center;
}
.empresas {
    width: 70%;
    text-align: center;
    align-content: center;
    align-items: center;
}

.clima_table>tbody>tr>th, 
.demografia>tbody>tr>th,
.empresas>tbody>tr>th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.clima_table>tbody>tr:nth-of-type(1)>td, 
.demografia>tbody>tr:nth-of-type(1)>td
.empresas>tbody>tr:nth-of-type(1)>td {
    background-color: rgb(183, 240, 183);
}

.clima_table>tbody>td:nth-of-type(2)>th, 
.demografia>tbody>td:nth-of-type(2)>th,
.empresas>tbody>td:nth-of-type(2)>th {
    background-color:rgb(195, 222, 231);
}

.clima_table>tbody>th:nth-of-type(3)>th, 
.demografia>tbody>th:nth-of-type(3)>th,
.empresas>tbody>th:nth-of-type(3)>th {
    background-color:lightpink;
}

/*************************** FORMULARIO *************************/
.placeholder {
    color: rgb(172, 69, 69); 
    background-color:antiquewhite;
    font-family: 'Courier New', Courier, monospace;  
}

.formulario_control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:  rgb(15, 15, 24);
    opacity: 1; /* Firefox*/
} 
  
.formulario_control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(15, 15, 24); 
}
    
.formulario_control::-ms-input-placeholder { /* Microsoft Edge  */
    color: rgb(15, 15, 24);
}  

.formulario_label {
    display: block;
    margin-top: 1rem;
}

fieldset {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: rgb(245, 212, 153);
    width: 40%;
}

fieldset input, textarea {
    width: 60%;
}

section.formulario button {
    margin-bottom: 2rem;
}

/*************************** IFRAME *************************/

.embed-container {
    position: relative;
    padding-bottom: 40.50%;
    height: 0;
    overflow: hidden;
}
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 50%;
    height: 50%;
}

/*************************** FOOTER *************************/

footer {
    font-family: 'Heebo', sans-serif;
    background-color: rgb(187, 219, 230);
    color:darksalmon;
    padding: 0.8rem 0rem 0.5rem 1rem;
    text-align: center;
    align-items: center;
    margin: 0;
}