/*************************** BODY *************************/
body {
    margin: 0;
}

.content_wrapper {
    margin: 1rem;
}

/*************************** HEADER *************************/
/************************* menu ****************************/

header{
    margin: 0;
}

.menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu a {
    display: block;
    padding: 2em;
    background-color: rgb(187, 219, 230);
    text-decoration: none;
    color: #191C26;
}
.menu a:hover {
    background-color: darksalmon;
}
.menu ul li ul {
    display: none;
    position: absolute;
}
.menu ul li a:hover + ul, 
.menu ul li ul:hover {
    display: block;
}

/*************************** TABLAS *************************/

.clima_table, 
.demografia {
    width: 100%;
    text-align: center;
}

.clima_table, 
.demografia>tbody>tr>th {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

 /*Filas pares*/
.clima_table>tbody>tr:nth-of-type(even)>td, 
.demografia>tbody>tr:nth-of-type(even)>td {
    background-color: rgb(183, 240, 183);
}

/*Filas impares*/
.clima_table>tbody>tr:nth-of-type(odd)>th, 
.demografia>tbody>tr:nth-of-type(odd)>th {
    background-color:rgb(195, 222, 231);
}


/*************************** FORMULARIO *************************/
.placeholder {
    color: rgb(172, 69, 69); 
    background-color:antiquewhite;
    font-family: 'Courier New', Courier, monospace;  
}

.formulario_control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
     color:  rgb(15, 15, 24);
     opacity: 1; /* Firefox*/
} 
  
.formulario_control:-ms-input-placeholder { /* Internet Explorer 10-11 */
     color: rgb(15, 15, 24); 
}
    
.formulario_control::-ms-input-placeholder { /* Microsoft Edge  */
     color: rgb(15, 15, 24);
}  

.formulario_label {
    display: block;
    margin-top: 1rem;
}

fieldset {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-color: rgb(245, 212, 153);
    width: 50%;
}

fieldset input, textarea {
    width: 60%;
}

section.formulario button {
    margin-bottom: 2rem;
}

/*************************** FOOTER *************************/

footer.main_footer {
    font-family: 'Heebo', sans-serif;
    background-color: rgb(187, 219, 230);
    color:darksalmon;
    padding: 0.8rem 0rem 0.5rem 1rem;
    text-align: center;
    align-items: center;
    margin: 0;
}