/*************************** BODY *************************/
.content_wrapper {
    margin: 1rem;
}

/*************************** HEADER *************************/
/************************* menu ****************************/

.menu ul {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.menu a {
    display: block;
    padding: 2em;
    background-color: rgb(187, 219, 230);
    text-decoration: none;
    color: #191C26;
}
.menu a:hover {
    background-color: darksalmon;
}
.menu ul li ul {
    display: none;
}
.menu ul li a:hover + ul, 
.menu ul li ul:hover {
    display: block;
}

/*************************** TABLAS *************************/

.empresas {
    width: 100%;
    text-align: center;
}

.centrar {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    align-content: center;
}

.empresas>tbody>tr>th {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.empresas>tbody>tr:nth-of-type(1)>td {
    background-color: lightgreen;
}

.empresas>tbody>tr>th:nth-of-type(1) {
    background-color:lightblue;
}

/*************************** FOOTER *************************/

footer.main_footer {
    font-family: 'Heebo', sans-serif;
    background-color: rgb(187, 219, 230);
    color:darksalmon;
    padding: 0.8rem 0rem 0.5rem 1rem;
    text-align: center;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}



